{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <h1>Listing: {{ data.title }}</h1>
    {% if user.is_authenticated %}
        <form action="{{ name }}" method="POST" >
            {% csrf_token %}
            {{ watchlistForm }}
            <input type="submit" class="btn btn-secondary" value="Watchlist">
        </form>
    {% endif %}
    
    <div class="image-div">
        {% if data.image != "" %}
            <img src="{{root}}{{ data.image }}"  alt="Listing Image" width="500px">
        {% else %}
            <h2>No Product Picture</h2>
        {% endif %}
    </div>
    <div>
        <h4>{{ data.description}}</h4>
    </div>
    <div>
        <h4>
            {% if highestBid == None %}   
                Price: {{ data.starting_price }}$
            {% else %}
                Highest Bid: {{ highestBid.amount }}$
            {% endif %}
        </h4>
    </div>
    <div>
        Details:
        <ul>
           <li>Listed by: <a href="{% url 'index' %}">{{ owner }}</a></li>
           <li>Categories:
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'category' category %}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
           </li>
        </ul>
    </div>
    <div>
        {% if user.is_authenticated %}
            <form action="{{ name }}" method="POST">
                {% csrf_token %}
                {{ bidForm }}
                <input type="submit" class="btn btn-secondary" value="Place Bid">
            </form>
        {% endif %}
    </div>
</div>
    
{% endblock %}