{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
    <h1>Listing: {{ data.title }}</h1>
    <form action="{{ name }}" method="POST">
        {% csrf_token %}
        {{ watchlistForm }}
        <input type="submit" class="btn btn-secondary" value="Watchlist">
    </form>
    
    <div class="image-div">
        {% if data.image != "" %}
            <img src="{{root}}/{{ data.image }}" width="750px" alt="Listing Image" height="500px">
        {% else %}
            <h2>No Product Picture</h2>
        {% endif %}
    </div>
    <div>
        <h4>{{ data.description}}</h4>
    </div>
    <div>
        <h4>{{ data.starting_price}} Dubloons</h4>
    </div>
    <div>
        Details:
        <ul>
           <li>Listed by: <a href="{% url 'index' %}">{{ owner }}</a></li>
           <li>Categories:
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'category' category %}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
           </li>
        </ul>
    </div>
    <div>
        <form action="{{ name }}" method="POST">
            {% csrf_token %}
            {{ bidForm }}
            <input type="submit" class="btn btn-secondary" value="Place Bet">
        </form>
    </div>
</div>
    
{% endblock %}